# Notebook Contents:

## 01 Import Libraries

## 02 Import Data

## 03 Data Exploration

## 04 Data Cleaning

#### 1. Get rid of some columns

#### 2. Make columns easier to read

#### 3. Change data types

#### 4. Deriving new variable

#### 5. Fix mixed types

#### 6. Clean values with codes rather than integers

#### 7. Final checks

## 05 Export Data

# 01 Import Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02 Import Data

In [2]:
# Create path
path = r'/Users/dana/Documents/Pew Research Reading Project/'

# import data
df = pd.read_spss(os.path.join(path,'02 Data','Original Data','Jan 25-Feb 8, 2021 - Core Trends Survey - SPSS.sav'))

# 03 Data Exploration

In [3]:
df.shape

(1502, 90)

In [4]:
# show all rows
pd.set_option('display.max_rows', None)

In [5]:
# show all columns
pd.set_option('display.max_columns', None)

In [6]:
df.head()

,respid,sample,comp,int_date,lang,cregion,state,density,usr,qs1,sex,eminuse,intmob,intfreq,snsint2,home4nw,bbhome1,bbhome2,device1a,smart2,bbsmart2,bbsmart3a,bbsmart3b,bbsmart3c,bbsmart3d,bbsmart3e,bbsmart3f,bbsmart3f_1_other,bbsmart4,cable1,cable2,cable3a,cable3b,cable3c,web1a,web1b,web1c,web1d,web1e,web1f,web1g,web1h,web1i,web1j,web1k,sns2a,sns2b,sns2c,sns2d,sns2e,paya,payb,payc,prob,coviddisa,coviddisb,coviddisc,coviddisd,coviddise,device1b,device1c,device1d,books1,books2a,books2b,books2c,gender,age,marital,par,educ2,emplnw,disa,hisp,racem1,racem2,racem3,racem4,racecmb,birth_hisp,income,party,partyln,hh1,hh3,ql1,ql1a,qc1,weight,cellweight
0,798.0,Landline,Complete,2021-01-26,English,South,VA,Highest,S,NaN,Female,Yes,Yes,About once a day,No,Yes,Higher-speed,NaN,Yes,"No, not a smartphone",NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,Yes,NaN,NaN,NaN,NaN,"No, do not do this","No, do not do this","No, do not do this","No, do not do this","No, do not do this","No, do not do this","No, do not do this","No, do not do this","No, do not do this","No, do not do this","No, do not do this",NaN,NaN,NaN,NaN,NaN,"No, have not had trouble","No, have not had trouble","No, have not had trouble",Rarely,At a minor disadvantage,At a minor disadvantage,At a major disadvantage,At a major disadvantage,At a minor disadvantage,Yes,Yes,No,50.0,Yes,No,No,A woman,77.0,Widowed,No,4.0,Retired,Yes,No,"White (e.g., Caucasian, European, Irish, Itali...",NaN,NaN,NaN,White,NaN,"50 to under $75,000",Democrat,NaN,1.0,NaN,"Yes, have cell phone",NaN,NaN,0.557187,NaN
1,1017.0,Landline,Complete,2021-01-25,English,Midwest,OH,2.0,S,NaN,Male,Yes,Yes,Several times a day,Yes,Yes,Higher-speed,NaN,Yes,"Yes, smartphone",NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,Yes,NaN,NaN,NaN,NaN,"No, do not do this","No, do not do this","Yes, do this","No, do not do this","Yes, do this","No, do not do this","No, do not do this","No, do not do this","No, do not do this","No, do not do this","No, do not do this",NaN,NaN,Several times a day,NaN,A few times a week,"No, have not had trouble","No, have not had trouble","No, have not had trouble",Sometimes,At a minor disadvantage,At a minor disadvantage,At a minor disadvantage,At a minor disadvantage,At a minor disadvantage,No,No,No,1.0,Yes,No,No,A man,59.0,Never been married,No,3.0,Employed part-time,No,No,"White (e.g., Caucasian, European, Irish, Itali...",NaN,NaN,NaN,White,NaN,"40 to under $50,000",Republican,NaN,2.0,2.0,"Yes, have cell phone",NaN,NaN,0.987209,NaN
2,1181.0,Landline,Complete,2021-01-25,English,West,NV,2.0,U,NaN,Female,Yes,Yes,"Several times a week, OR",Yes,Yes,Higher-speed,NaN,Yes,"Yes, smartphone",NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,Yes,NaN,NaN,NaN,NaN,"Yes, do this","No, do not do this","Yes, do this","No, do not do this","No, do not do this","No, do not do this","No, do not do this","No, do not do this","No, do not do this","No, do not do this","No, do not do this",A few times a week,NaN,A few times a week,NaN,NaN,"No, have not had trouble","No, have not had trouble","No, have not had trouble",Rarely,At a minor disadvantage,Not at a disadvantage,At a minor disadvantage,At a minor disadvantage,At a minor disadvantage,Yes,Yes,Yes,3.0,Yes,No,No,A woman,60.0,Married,No,4.0,Retired,No,No,"White (e.g., Caucasian, European, Irish, Itali...",NaN,NaN,NaN,White,NaN,"100 to under $150,000",Independent,Democrat,2.0,2.0,"Yes, have cell phone",NaN,NaN,0.925147,NaN
3,1388.0,Landline,Complete,2021-01-25,English,West,AZ,3.0,U,NaN,Male,Yes,Yes,Several times a day,Yes,Yes,Higher-speed,NaN,Yes,"Yes, smartphone",NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,Yes,NaN,NaN,NaN,NaN,"No, do not do this","No, do not do this","Yes, do this","No, do not do this","Yes, do this","Yes, do this","No, do not do this","No, do not do this","No, do not do this","No, do not do this","Yes, do this",NaN,NaN,About once a day,NaN,A few times a week,"No, have not had trouble","No, have not had trouble","No, have not had trouble",Rarely,At a minor disadvantage,At a major disadvantage,At a major disadvantage,At a major disadvantage,At a major disadvantage,No,Yes,No,30.0,Yes,Yes,No,A man,73.0,Never been married,No,8.0,Employed part-time,No,No,"White (e.g., Caucasian, European, Irish, Itali...",NaN,NaN,NaN,White,NaN,"100 to under $150,000",Democrat,NaN,1.0,NaN,"Yes, have cell phone",NaN,NaN,0.311080,NaN
4,1664.0,Landline,Complete,2021-01-26,English,South,FL,2.0,S,NaN,Female,Yes,Yes,Almost constantly,Yes,Yes,(VOL) Both Slow-speed/Dial-up and Higher-speed...,NaN,Yes,"Yes, smartphone",NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,Yes,NaN,NaN,NaN,NaN,"No, do not do this","Yes, do this","Yes, do this","No, do not do this","Yes, do this","Yes, do this","Yes, do this","Yes, do this","No, do not do this","No, do not do this","No, do not do this",NaN,A few times a week,A few times a week,NaN,Every few weeks or,"No, have not had trouble","No, have not had trouble","No, have not had trouble",Rarely,At a major disadvantage,At a major disadvantage,At a major disadvantage,At a major disadvantage,At a major disadvantage,Yes,Yes,No,40.0,Yes,No,Yes,A woman,65.0,Married,No,8.0,Retired,No,No,"White (e.g., Caucasian, European, Irish, Itali...",NaN,NaN,NaN,White,NaN,"75 to under $100,000",Democrat,NaN,2.0,2.0,"Yes, have cell phone",NaN,NaN,0.396548,NaN

In [7]:
df.dtypes

respid                float64
sample               category
comp                 category
int_date               object
lang                 category
cregion              category
state                category
density              category
usr                    object
qs1                  category
sex                  category
eminuse              category
intmob               category
intfreq              category
snsint2              category
home4nw              category
bbhome1              category
bbhome2              category
device1a             category
smart2               category
bbsmart2             category
bbsmart3a            category
bbsmart3b            category
bbsmart3c            category
bbsmart3d            category
bbsmart3e            category
bbsmart3f            category
bbsmart3f_1_other      object
bbsmart4             category
cable1               category
cable2               category
cable3a              category
cable3b              category
cable3c              category
web1a                category
web1b                category
web1c                category
web1d                category
web1e                category
web1f                category
web1g                category
web1h                category
web1i                category
web1j                category
web1k                category
sns2a                category
sns2b                category
sns2c                category
sns2d                category
sns2e                category
paya                 category
payb                 category
payc                 category
prob                 category
coviddisa            category
coviddisb            category
coviddisc            category
coviddisd            category
coviddise            category
device1b             category
device1c             category
device1d             category
books1                float64
books2a              category
books2b              category
books2c              category
gender               category
age                   float64
marital              category
par                  category
educ2                 float64
emplnw               category
disa                 category
hisp                 category
racem1               category
racem2               category
racem3               category
racem4               category
racecmb              category
birth_hisp           category
income               category
party                category
partyln              category
hh1                   float64
hh3                   float64
ql1                  category
ql1a                 category
qc1                  category
weight                float64
cellweight            float64
dtype: object

In [8]:
df.describe()

,respid,books1,age,educ2,hh1,hh3,weight,cellweight
count,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1171.000000,1502.000000,1202.000000
mean,134280.018642,16.918109,53.567244,6.587217,2.833555,2.718190,1.000000,1.000000
std,64625.388500,26.477888,20.367652,11.660021,1.888354,1.652505,0.586059,0.513156
min,798.000000,0.000000,18.000000,1.000000,1.000000,1.000000,0.311080,0.394665
25%,106243.500000,1.250000,37.000000,4.000000,2.000000,2.000000,0.562129,0.649259
50%,139521.000000,5.000000,55.000000,5.000000,2.000000,2.000000,0.864068,0.857891
75%,172600.750000,20.000000,68.000000,6.000000,4.000000,3.000000,1.283513,1.227047
max,311426.000000,99.000000,99.000000,99.000000,9.000000,9.000000,2.459681,2.272367

In [9]:
df.isnull().sum()

respid                  0
sample                  0
comp                    0
int_date                0
lang                    0
cregion                 0
state                   0
density                 0
usr                     0
qs1                   300
sex                     0
eminuse                 0
intmob                  0
intfreq                89
snsint2                 0
home4nw                 0
bbhome1               214
bbhome2              1482
device1a             1202
smart2                 34
bbsmart2             1217
bbsmart3a            1217
bbsmart3b            1217
bbsmart3c            1327
bbsmart3d            1217
bbsmart3e            1217
bbsmart3f            1217
bbsmart3f_1_other       0
bbsmart4             1309
cable1                  0
cable2                919
cable3a               919
cable3b               919
cable3c               919
web1a                   0
web1b                   0
web1c                   0
web1d                   0
web1e                   0
web1f                   0
web1g                   0
web1h                   0
web1i                   0
web1j                   0
web1k                   0
sns2a                1156
sns2b                 972
sns2c                 514
sns2d                1195
sns2e                 299
paya                   34
payb                  285
payc                  583
prob                   89
coviddisa               0
coviddisb               0
coviddisc               0
coviddisd               0
coviddise               0
device1b                0
device1c                0
device1d                0
books1                  0
books2a               301
books2b               301
books2c               301
gender                  0
age                     0
marital                 0
par                     0
educ2                   0
emplnw                  0
disa                    0
hisp                    0
racem1                  0
racem2               1443
racem3               1495
racem4               1502
racecmb                 0
birth_hisp           1340
income                  0
party                   0
partyln               841
hh1                     0
hh3                   331
ql1                  1202
ql1a                 1475
qc1                   300
weight                  0
cellweight            300
dtype: int64

In [10]:
# check for mixed types
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

density
qs1
intfreq
bbhome1
bbhome2
device1a
smart2
bbsmart2
bbsmart3a
bbsmart3b
bbsmart3c
bbsmart3d
bbsmart3e
bbsmart3f
bbsmart4
cable2
cable3a
cable3b
cable3c
sns2a
sns2b
sns2c
sns2d
sns2e
paya
payb
payc
prob
books2a
books2b
books2c
racem2
racem3
racem4
birth_hisp
partyln
ql1
ql1a
qc1

# 04 Data Cleaning

### 1. Get rid of some columns

In [11]:
# get column list
df.columns

Index(['respid', 'sample', 'comp', 'int_date', 'lang', 'cregion', 'state',
       'density', 'usr', 'qs1', 'sex', 'eminuse', 'intmob', 'intfreq',
       'snsint2', 'home4nw', 'bbhome1', 'bbhome2', 'device1a', 'smart2',
       'bbsmart2', 'bbsmart3a', 'bbsmart3b', 'bbsmart3c', 'bbsmart3d',
       'bbsmart3e', 'bbsmart3f', 'bbsmart3f_1_other', 'bbsmart4', 'cable1',
       'cable2', 'cable3a', 'cable3b', 'cable3c', 'web1a', 'web1b', 'web1c',
       'web1d', 'web1e', 'web1f', 'web1g', 'web1h', 'web1i', 'web1j', 'web1k',
       'sns2a', 'sns2b', 'sns2c', 'sns2d', 'sns2e', 'paya', 'payb', 'payc',
       'prob', 'coviddisa', 'coviddisb', 'coviddisc', 'coviddisd', 'coviddise',
       'device1b', 'device1c', 'device1d', 'books1', 'books2a', 'books2b',
       'books2c', 'gender', 'age', 'marital', 'par', 'educ2', 'emplnw', 'disa',
       'hisp', 'racem1', 'racem2', 'racem3', 'racem4', 'racecmb', 'birth_hisp',
       'income', 'party', 'partyln', 'hh1', 'hh3', 'ql1', 'ql1a', 'qc1',
       'weight', 'cellweight'],
      dtype='object')

In [12]:
# make a subset with only questions related to books and the demographics
dfbooks = df[['respid', 'sample', 'comp', 'int_date', 'lang', 'state', 'density',
       'usr', 'qs1', 'sex','books1', 'books2a', 'books2b',
       'books2c', 'gender', 'age', 'marital', 'par', 'educ2', 'emplnw', 'disa',
       'hisp', 'racem1', 'racem2', 'racem3', 'racem4', 'racecmb', 'birth_hisp',
       'income', 'party', 'partyln']]

In [13]:
dfbooks.head()

,respid,sample,comp,int_date,lang,state,density,usr,qs1,sex,books1,books2a,books2b,books2c,gender,age,marital,par,educ2,emplnw,disa,hisp,racem1,racem2,racem3,racem4,racecmb,birth_hisp,income,party,partyln
0,798.0,Landline,Complete,2021-01-26,English,VA,Highest,S,NaN,Female,50.0,Yes,No,No,A woman,77.0,Widowed,No,4.0,Retired,Yes,No,"White (e.g., Caucasian, European, Irish, Itali...",NaN,NaN,NaN,White,NaN,"50 to under $75,000",Democrat,NaN
1,1017.0,Landline,Complete,2021-01-25,English,OH,2.0,S,NaN,Male,1.0,Yes,No,No,A man,59.0,Never been married,No,3.0,Employed part-time,No,No,"White (e.g., Caucasian, European, Irish, Itali...",NaN,NaN,NaN,White,NaN,"40 to under $50,000",Republican,NaN
2,1181.0,Landline,Complete,2021-01-25,English,NV,2.0,U,NaN,Female,3.0,Yes,No,No,A woman,60.0,Married,No,4.0,Retired,No,No,"White (e.g., Caucasian, European, Irish, Itali...",NaN,NaN,NaN,White,NaN,"100 to under $150,000",Independent,Democrat
3,1388.0,Landline,Complete,2021-01-25,English,AZ,3.0,U,NaN,Male,30.0,Yes,Yes,No,A man,73.0,Never been married,No,8.0,Employed part-time,No,No,"White (e.g., Caucasian, European, Irish, Itali...",NaN,NaN,NaN,White,NaN,"100 to under $150,000",Democrat,NaN
4,1664.0,Landline,Complete,2021-01-26,English,FL,2.0,S,NaN,Female,40.0,Yes,No,Yes,A woman,65.0,Married,No,8.0,Retired,No,No,"White (e.g., Caucasian, European, Irish, Itali...",NaN,NaN,NaN,White,NaN,"75 to under $100,000",Democrat,NaN

### 2. Make columns easier to read

In [14]:
# rename columns
dfbooks = dfbooks.rename(columns = {'respid':'response_id','lang':'language','books1':'number_of_books_read',
                          'books2a':'read_printed_books','books2b':'read_audiobooks','books2c':'read_e-books',
                          'par':'parent','educ2':'level_of_education','emplnw':'employment','disa':'disability',
                         'hisp':'hispanic','racecmb':'race','partyln':'dem_or_rep_leaning'})

In [15]:
# remove more unneeded columns
dfbooks = dfbooks[['response_id', 'language', 'state', 'sex','number_of_books_read', 'read_printed_books', 
                   'read_audiobooks','read_e-books', 'gender', 'age', 'marital', 'parent', 'level_of_education',
                   'employment', 'disability','hispanic', 'race','income', 'party', 'dem_or_rep_leaning']]

In [16]:
dfbooks.head()

,response_id,language,state,sex,number_of_books_read,read_printed_books,read_audiobooks,read_e-books,gender,age,marital,parent,level_of_education,employment,disability,hispanic,race,income,party,dem_or_rep_leaning
0,798.0,English,VA,Female,50.0,Yes,No,No,A woman,77.0,Widowed,No,4.0,Retired,Yes,No,White,"50 to under $75,000",Democrat,NaN
1,1017.0,English,OH,Male,1.0,Yes,No,No,A man,59.0,Never been married,No,3.0,Employed part-time,No,No,White,"40 to under $50,000",Republican,NaN
2,1181.0,English,NV,Female,3.0,Yes,No,No,A woman,60.0,Married,No,4.0,Retired,No,No,White,"100 to under $150,000",Independent,Democrat
3,1388.0,English,AZ,Male,30.0,Yes,Yes,No,A man,73.0,Never been married,No,8.0,Employed part-time,No,No,White,"100 to under $150,000",Democrat,NaN
4,1664.0,English,FL,Female,40.0,Yes,No,Yes,A woman,65.0,Married,No,8.0,Retired,No,No,White,"75 to under $100,000",Democrat,NaN

### 3. Change data types

In [17]:
dfbooks.dtypes

response_id              float64
language                category
state                   category
sex                     category
number_of_books_read     float64
read_printed_books      category
read_audiobooks         category
read_e-books            category
gender                  category
age                      float64
marital                 category
parent                  category
level_of_education       float64
employment              category
disability              category
hispanic                category
race                    category
income                  category
party                   category
dem_or_rep_leaning      category
dtype: object

In [18]:
# change datatypes
dfbooks['response_id'] = dfbooks['response_id'].astype('str')
dfbooks['number_of_books_read'] = dfbooks['number_of_books_read'].astype('int')
dfbooks['age'] = dfbooks['age'].astype('int')
dfbooks['level_of_education'] = dfbooks['level_of_education'].astype('int')

### 4. Derive new variables

In [19]:
# make new column for describing level of education
dfbooks.loc[dfbooks['level_of_education'] == 1, 'education'] = 'Less than high school'
dfbooks.loc[dfbooks['level_of_education'] == 2, 'education'] = 'High school incomplete' 
dfbooks.loc[dfbooks['level_of_education'] == 3, 'education'] = 'High school graduate'
dfbooks.loc[dfbooks['level_of_education'] == 4, 'education'] = 'Some college, no degree'
dfbooks.loc[dfbooks['level_of_education'] == 5, 'education'] = 'Associate degree'
dfbooks.loc[dfbooks['level_of_education'] == 6, 'education'] = 'Bachelors degree'
dfbooks.loc[dfbooks['level_of_education'] == 7, 'education'] = 'Some graduate school'
dfbooks.loc[dfbooks['level_of_education'] == 8, 'education'] = 'Postgraduate degree'
dfbooks.loc[dfbooks['level_of_education'] == 98, 'education'] = 'Do not know'
dfbooks.loc[dfbooks['level_of_education'] == 99, 'education'] = 'Refused'

In [20]:
dfbooks[['level_of_education','education']].head(10)

   level_of_education                education
0                   4  Some college, no degree
1                   3     High school graduate
2                   4  Some college, no degree
3                   8      Postgraduate degree
4                   8      Postgraduate degree
5                   6         Bachelors degree
6                   4  Some college, no degree
7                   6         Bachelors degree
8                   3     High school graduate
9                   6         Bachelors degree

In [21]:
dfbooks['education'].value_counts()

Bachelors degree           389
High school graduate       313
Postgraduate degree        274
Some college, no degree    244
Associate degree           156
High school incomplete      44
Some graduate school        42
Refused                     20
Less than high school       17
Do not know                  3
Name: education, dtype: int64

In [22]:
# check income value counts
dfbooks['income'].value_counts()

(VOL) Don't know/Refused    229
$150,000 or more            217
100 to under $150,000       193
75 to under $100,000        193
50 to under $75,000         182
30 to under $40,000         120
20 to under $30,000         110
10 to under $20,000          99
40 to under $50,000          89
Less than $10,000            70
Name: income, dtype: int64

In [23]:
# create income estimate column with imputed values using value counts to make all unique values
dfbooks.loc[dfbooks['income'] == '$150,000 or more', 'income_estimate'] = np.random.randint(150000,200000,217)
dfbooks.loc[dfbooks['income'] == '100 to under $150,000', 'income_estimate'] = np.random.randint(100000,149999,193)
dfbooks.loc[dfbooks['income'] == '75 to under $100,000', 'income_estimate'] = np.random.randint(75000,99999,193)
dfbooks.loc[dfbooks['income'] == '50 to under $75,000', 'income_estimate'] = np.random.randint(50000,74999,182)
dfbooks.loc[dfbooks['income'] == '30 to under $40,000', 'income_estimate'] = np.random.randint(30000,39999,120)
dfbooks.loc[dfbooks['income'] == '20 to under $30,000', 'income_estimate'] = np.random.randint(20000,29999,110)
dfbooks.loc[dfbooks['income'] == '10 to under $20,000', 'income_estimate'] = np.random.randint(10000,19999,99)
dfbooks.loc[dfbooks['income'] == '40 to under $50,000', 'income_estimate'] = np.random.randint(40000,49999,89)
dfbooks.loc[dfbooks['income'] == 'Less than $10,000', 'income_estimate'] = np.random.randint(1000,9999,70)

In [24]:
# make subset of all with imputed numbers (not don't know/refused)
dfincome = dfbooks[dfbooks['income_estimate']>1]

In [25]:
dfincome['income_estimate'].describe()

count      1273.000000
mean      81171.341712
std       56415.141549
min        1195.000000
25%       33071.000000
50%       72146.000000
75%      123650.000000
max      199277.000000
Name: income_estimate, dtype: float64

In [26]:
# impute don't know/refused with numbers in the interquartile range
dfbooks.loc[dfbooks['income'] == "(VOL) Don't know/Refused", 'income_estimate'] = np.random.randint(33574,125319,229)

In [27]:
dfbooks['income_estimate'].describe()

count      1502.000000
mean      81153.104527
std       52874.030333
min        1195.000000
25%       37351.500000
50%       73867.500000
75%      114649.000000
max      199277.000000
Name: income_estimate, dtype: float64

In [28]:
dfbooks['income_estimate'].dtypes

dtype('float64')

### 5. Fix mixed types

In [29]:
# check for mixed types again
for col in dfbooks.columns.tolist():
  weird = (dfbooks[[col]].applymap(type) != dfbooks[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (dfbooks[weird]) > 0:
    print (col)

read_printed_books
read_audiobooks
read_e-books
dem_or_rep_leaning

In [30]:
dfbooks['read_printed_books'].value_counts()

Yes                 1041
No                   158
(VOL) Don't know       1
(VOL) Refused          1
Name: read_printed_books, dtype: int64

In [31]:
# change don't know and refused to just No
dfbooks.loc[dfbooks['read_printed_books'] == "(VOL) Don't know", 'read_printed_books'] = 'No'
dfbooks.loc[dfbooks['read_printed_books'] == '(VOL) Refused', 'read_printed_books'] = 'No'

In [32]:
dfbooks['read_printed_books'].value_counts()

Yes                 1041
No                   160
(VOL) Don't know       0
(VOL) Refused          0
Name: read_printed_books, dtype: int64

In [33]:
# do the same for other books columns
dfbooks['read_audiobooks'].value_counts()

No                  842
Yes                 357
(VOL) Don't know      2
Name: read_audiobooks, dtype: int64

In [34]:
dfbooks.loc[dfbooks['read_audiobooks'] == "(VOL) Don't know", 'read_audiobooks'] = 'No'

In [35]:
dfbooks['read_audiobooks'].value_counts()

No                  844
Yes                 357
(VOL) Don't know      0
Name: read_audiobooks, dtype: int64

In [36]:
dfbooks['read_e-books'].value_counts()

No                  724
Yes                 471
(VOL) Don't know      6
Name: read_e-books, dtype: int64

In [37]:
dfbooks.loc[dfbooks['read_e-books'] == "(VOL) Don't know", 'read_e-books'] = 'No'

In [38]:
dfbooks['read_e-books'].value_counts()

No                  730
Yes                 471
(VOL) Don't know      0
Name: read_e-books, dtype: int64

In [39]:
# check dem or rep leaning
dfbooks['dem_or_rep_leaning'].value_counts()

Democrat            207
Republican          175
(VOL) Refused       143
(VOL) Don't know    136
Name: dem_or_rep_leaning, dtype: int64

In [40]:
# compare with party
dfbooks['party'].value_counts()

Democrat              482
Independent           470
Republican            359
VOL) No preference     78
(VOL) Refused          75
(VOL) Don't know       20
(VOL) Other party      18
Name: party, dtype: int64

In [41]:
dfbooks['dem_or_rep_leaning'].isnull().sum()

841

In [42]:
dfbooks['party'].isnull().sum()

0

In [43]:
# party has more information, so delete dem_or_rep_leaning
dfbooks = dfbooks.drop(columns = ['dem_or_rep_leaning'])

In [44]:
dfbooks['read_e-books'].value_counts()

No                  730
Yes                 471
(VOL) Don't know      0
Name: read_e-books, dtype: int64

In [45]:
# remove unused categories
dfbooks['read_printed_books'] = dfbooks['read_printed_books'].cat.remove_unused_categories()
dfbooks['read_audiobooks'] = dfbooks['read_audiobooks'].cat.remove_unused_categories()
dfbooks['read_e-books'] = dfbooks['read_e-books'].cat.remove_unused_categories()

In [46]:
dfbooks.isnull().sum()

response_id               0
language                  0
state                     0
sex                       0
number_of_books_read      0
read_printed_books      301
read_audiobooks         301
read_e-books            301
gender                    0
age                       0
marital                   0
parent                    0
level_of_education        0
employment                0
disability                0
hispanic                  0
race                      0
income                    0
party                     0
education                 0
income_estimate           0
dtype: int64

In [47]:
# check if number of books read = 0 corresponds with null values in book types
dfbooks['number_of_books_read'].value_counts()
# it's only 5 off so the nulls are likely just for the non-readers plus a few more who didn't want to answer

0     296
3     118
2     115
10     96
5      84
1      80
20     77
12     73
6      68
4      60
97     49
50     44
15     39
25     35
8      34
30     27
96     27
40     24
98     22
7      19
24     14
60      9
88      8
35      7
14      7
13      6
9       6
99      5
45      5
52      4
80      4
70      4
36      3
75      3
65      3
48      3
17      3
22      2
16      2
21      2
26      2
18      2
42      1
23      1
33      1
47      1
55      1
43      1
27      1
37      1
32      1
29      1
87      1
Name: number_of_books_read, dtype: int64

In [48]:
# change nulls to no
dfbooks['read_printed_books'].fillna('No',inplace = True)
dfbooks['read_audiobooks'].fillna('No',inplace = True)
dfbooks['read_e-books'].fillna('No',inplace = True)

### 6. Clean values with codes rather than integers

In [49]:
dfbooks['number_of_books_read'].describe()

count    1502.000000
mean       16.918109
std        26.477888
min         0.000000
25%         1.250000
50%         5.000000
75%        20.000000
max        99.000000
Name: number_of_books_read, dtype: float64

In [50]:
# 97-99 are codes rather than numbers. Check how many there are
dfcodes = dfbooks[dfbooks['number_of_books_read']>96]

In [51]:
dfcodes['number_of_books_read'].value_counts()

97    49
98    22
99     5
Name: number_of_books_read, dtype: int64

In [52]:
# describe without the codes
dfnocodes = dfbooks[dfbooks['number_of_books_read']<=96]
dfnocodes['number_of_books_read'].describe()

count    1426.000000
mean       12.627630
std        19.349152
min         0.000000
25%         1.000000
50%         5.000000
75%        15.000000
max        96.000000
Name: number_of_books_read, dtype: float64

In [53]:
# impute don't know (98) and refused (99) with interquartile range
dfbooks.loc[dfbooks['number_of_books_read'] >= 98, 'number_of_books_read'] = np.random.randint(1,15,27)

In [54]:
# 97 means 97 or more, but I'll leave it because I don't know how much higher it would go

In [55]:
dfbooks['number_of_books_read'].describe()

count    1502.000000
mean       15.302264
std        24.108858
min         0.000000
25%         1.000000
50%         5.000000
75%        15.000000
max        97.000000
Name: number_of_books_read, dtype: float64

In [56]:
# age is the same, 98 meaning don't know and 99 refused (97 is 97 and above but I'm going to leave that alone)
agecode = dfbooks[dfbooks['age']>97]
agecode['age'].value_counts()

99    54
98     1
Name: age, dtype: int64

In [57]:
# describe noncode ages
agenocode = dfbooks[dfbooks['age']<=97]
agenocode['age'].describe()

count    1447.000000
mean       51.841050
std        18.686602
min        18.000000
25%        36.000000
50%        54.000000
75%        66.000000
max        97.000000
Name: age, dtype: float64

In [58]:
# impute 98 and 99 with random value from interquartile range
dfbooks.loc[dfbooks['age'] >= 98, 'age'] = np.random.randint(36,66,55)

In [59]:
dfbooks['age'].describe()

count    1502.000000
mean       51.810253
std        18.407753
min        18.000000
25%        37.000000
50%        53.000000
75%        66.000000
max        97.000000
Name: age, dtype: float64

In [60]:
dfbooks.columns

Index(['response_id', 'language', 'state', 'sex', 'number_of_books_read',
       'read_printed_books', 'read_audiobooks', 'read_e-books', 'gender',
       'age', 'marital', 'parent', 'level_of_education', 'employment',
       'disability', 'hispanic', 'race', 'income', 'party', 'education',
       'income_estimate'],
      dtype='object')

In [61]:
# hide level_of_education and reorder columns
dfbooks = dfbooks[['response_id', 'language', 'state', 'sex', 'gender',
       'age', 'marital', 'parent', 'employment',
       'disability', 'hispanic', 'race', 'party', 'education',  'income',
       'income_estimate', 'number_of_books_read',
       'read_printed_books', 'read_audiobooks', 'read_e-books']]

### 7. Final checks

In [62]:
dfbooks.dtypes

response_id               object
language                category
state                   category
sex                     category
gender                  category
age                        int64
marital                 category
parent                  category
employment              category
disability              category
hispanic                category
race                    category
party                   category
education                 object
income                  category
income_estimate          float64
number_of_books_read       int64
read_printed_books      category
read_audiobooks         category
read_e-books            category
dtype: object

In [63]:
dfbooks['income_estimate'] = dfbooks['income_estimate'].astype('int')

In [64]:
dfbooks.isnull().sum()

response_id             0
language                0
state                   0
sex                     0
gender                  0
age                     0
marital                 0
parent                  0
employment              0
disability              0
hispanic                0
race                    0
party                   0
education               0
income                  0
income_estimate         0
number_of_books_read    0
read_printed_books      0
read_audiobooks         0
read_e-books            0
dtype: int64

In [65]:
# check for mixed types again
for col in dfbooks.columns.tolist():
  weird = (dfbooks[[col]].applymap(type) != dfbooks[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (dfbooks[weird]) > 0:
    print (col)

In [66]:
# check for duplicates
dups = dfbooks[dfbooks.duplicated()]
dups

Empty DataFrame
Columns: [response_id, language, state, sex, gender, age, marital, parent, employment, disability, hispanic, race, party, education, income, income_estimate, number_of_books_read, read_printed_books, read_audiobooks, read_e-books]
Index: []

In [67]:
dfbooks.describe()

               age  income_estimate  number_of_books_read
count  1502.000000      1502.000000           1502.000000
mean     51.810253     81153.104527             15.302264
std      18.407753     52874.030333             24.108858
min      18.000000      1195.000000              0.000000
25%      37.000000     37351.500000              1.000000
50%      53.000000     73867.500000              5.000000
75%      66.000000    114649.000000             15.000000
max      97.000000    199277.000000             97.000000

# 05 Export Data

In [68]:
dfbooks.to_pickle(os.path.join(path, '02 Data','Prepared Data','dfbooks.pkl'))