# 1. Import libraries and data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os

In [2]:
# Create path
path = r'/Users/dana/Documents/Pew Research Reading Project/'

# import data
df18_19 = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','2018-2019.pkl'))
df21 = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','dfplus.pkl'))

# 2. Make 2021 match 2018-19 data

In [3]:
df21.columns

Index(['response_id', 'language', 'state', 'sex', 'gender', 'age', 'marital',
       'parent', 'employment', 'disability', 'hispanic', 'race', 'party',
       'education', 'income', 'income_estimate', 'number_of_books_read',
       'read_printed_books', 'read_audiobooks', 'read_e-books',
       'reader_category', 'generation', 'reading_type', 'education_group',
       'employed'],
      dtype='object')

In [4]:
df18_19.columns

Index(['language', 'state', 'sex', 'number_of_books_read',
       'read_printed_books', 'read_audiobooks', 'read_e-books', 'age',
       'marital', 'level_of_education', 'employment', 'hispanic', 'race',
       'income', 'party', 'year', 'id'],
      dtype='object')

In [5]:
# change order
df18_19 = df18_19[['id','year','language','state','sex','age','marital','level_of_education','employment',
                  'hispanic','race','income','party','number_of_books_read','read_printed_books',
                  'read_audiobooks','read_e-books']]

In [6]:
# drop response id and create id column
df21 = df21.drop(columns=['response_id'])
df21['id'] = df21.index + 3505

In [7]:
# create year column
df21['year']='2021'

In [8]:
df21.columns

Index(['language', 'state', 'sex', 'gender', 'age', 'marital', 'parent',
       'employment', 'disability', 'hispanic', 'race', 'party', 'education',
       'income', 'income_estimate', 'number_of_books_read',
       'read_printed_books', 'read_audiobooks', 'read_e-books',
       'reader_category', 'generation', 'reading_type', 'education_group',
       'employed', 'id', 'year'],
      dtype='object')

In [9]:
# change order to match 18-19 except for added columns, while removing columns 18-19 didn't have (gender, parent,
# disability)
df21 = df21[['id','year','language','state','sex','age','marital','education','employment',
            'hispanic','race','income','party','number_of_books_read','read_printed_books',
            'read_audiobooks','read_e-books','income_estimate','reader_category','generation',
             'reading_type','education_group','employed']]

In [10]:
pd.set_option('display.max_columns', None)

In [11]:
df21.head()

,id,year,language,state,sex,age,marital,education,employment,hispanic,race,income,party,number_of_books_read,read_printed_books,read_audiobooks,read_e-books,income_estimate,reader_category,generation,reading_type,education_group,employed
0,3505,2021,English,VA,Female,77,Widowed,"Some college, no degree",Retired,No,White,"50 to under $75,000",Democrat,50,Yes,No,No,60363,Above average reader,Silent Gen,Printed only,College < 4yr degree,Not employed
1,3506,2021,English,OH,Male,59,Never been married,High school graduate,Employed part-time,No,White,"40 to under $50,000",Republican,1,Yes,No,No,46741,Average reader,Boomers,Printed only,High school graduate,Employed
2,3507,2021,English,NV,Female,60,Married,"Some college, no degree",Retired,No,White,"100 to under $150,000",Independent,3,Yes,No,No,124080,Average reader,Boomers,Printed only,College < 4yr degree,Not employed
3,3508,2021,English,AZ,Male,73,Never been married,Postgraduate degree,Employed part-time,No,White,"100 to under $150,000",Democrat,30,Yes,Yes,No,148285,Above average reader,Boomers,Printed and audio,College > 4yr degree,Employed
4,3509,2021,English,FL,Female,65,Married,Postgraduate degree,Retired,No,White,"75 to under $100,000",Democrat,40,Yes,No,Yes,95403,Above average reader,Boomers,Printed and e-books,College > 4yr degree,Not employed

# 3. Add columns

In [12]:
# columns that need to be added to 18-19: income estimate, reader category, generation, reading type, 
# education group, employed (also change education column to match)

#### income estimate

In [13]:
df18_19['income'].value_counts()

$150,000 or more?            428
50 to under $75,000          412
(VOL) Refused                390
100 to under $150,000, OR    366
75 to under $100,000         355
20 to under $30,000          327
10 to under $20,000          295
30 to under $40,000          269
Less than $10,000            261
40 to under $50,000          224
(VOL) Don't know             177
Name: income, dtype: int64

In [14]:
# create income estimate column with imputed values using value counts to make all unique values
df18_19.loc[df18_19['income'] == '$150,000 or more?', 'income_estimate'] = np.random.randint(150000,200000,428)
df18_19.loc[df18_19['income'] == '100 to under $150,000, OR', 'income_estimate'] = np.random.randint(100000,149999,366)
df18_19.loc[df18_19['income'] == '75 to under $100,000', 'income_estimate'] = np.random.randint(75000,99999,355)
df18_19.loc[df18_19['income'] == '50 to under $75,000', 'income_estimate'] = np.random.randint(50000,74999,412)
df18_19.loc[df18_19['income'] == '30 to under $40,000', 'income_estimate'] = np.random.randint(30000,39999,269)
df18_19.loc[df18_19['income'] == '20 to under $30,000', 'income_estimate'] = np.random.randint(20000,29999,327)
df18_19.loc[df18_19['income'] == '10 to under $20,000', 'income_estimate'] = np.random.randint(10000,19999,295)
df18_19.loc[df18_19['income'] == '40 to under $50,000', 'income_estimate'] = np.random.randint(40000,49999,224)
df18_19.loc[df18_19['income'] == 'Less than $10,000', 'income_estimate'] = np.random.randint(1000,9999,261)

In [15]:
# make subset of all with imputed numbers (not don't know/refused)
dfincome = df18_19[df18_19['income_estimate']>1]

In [16]:
dfincome['income_estimate'].describe()

count      2937.000000
mean      71837.144365
std       56302.890058
min        1052.000000
25%       25739.000000
50%       54631.000000
75%      107522.000000
max      199853.000000
Name: income_estimate, dtype: float64

In [17]:
# impute don't know/refused with numbers in the interquartile range
df18_19.loc[df18_19['income'] == "(VOL) Don't know", 'income_estimate'] = np.random.randint(25685,107412,177)
df18_19.loc[df18_19['income'] == "(VOL) Refused", 'income_estimate'] = np.random.randint(25685,107412,390)

In [18]:
df18_19['income_estimate'].describe()

count      3504.000000
mean      70801.769406
std       52488.955585
min        1052.000000
25%       28762.500000
50%       57984.500000
75%       98444.250000
max      199853.000000
Name: income_estimate, dtype: float64

In [19]:
# change to integer
df18_19['income_estimate'] = df18_19['income_estimate'].astype('int')

#### education

In [20]:
df18_19['level_of_education'].value_counts()

Four year college or university degree/Bachelor's degree (e.g., BS, BA, AB)                                                 875
High school graduate (Grade 12 with diploma or GED certificate)                                                             798
Some college, no degree (includes some community college)                                                                   535
Two year associate degree from a college or university                                                                      368
Some postgraduate or professional schooling, no postgraduate degree (e.g. some graduate school)                             361
High school incomplete (Grades 9-11 or Grade 12 with NO diploma)                                                            183
Postgraduate or professional degree, including master's, doctorate, medical or law degree                                   147
Less than high school (Grades 1-8 or no formal schooling)                                                                   104
Postgraduate or professional degree, including master's, doctorate, medical or law degree (e.g., MA, MS, PhD, MD, JD, gr     91
(VOL) Refused                                                                                                                31
(VOL) Don't know                                                                                                             11
Name: level_of_education, dtype: int64

In [21]:
df21['education'].value_counts()

Bachelors degree           389
High school graduate       313
Postgraduate degree        274
Some college, no degree    244
Associate degree           156
High school incomplete      44
Some graduate school        42
Refused                     20
Less than high school       17
Do not know                  3
Name: education, dtype: int64

In [22]:
df18_19.loc[df18_19['level_of_education'] == "Less than high school (Grades 1-8 or no formal schooling)",
            'education'] = 'Less than high school'
df18_19.loc[df18_19['level_of_education'] == "High school incomplete (Grades 9-11 or Grade 12 with NO diploma)",
            'education'] = 'High school incomplete' 
df18_19.loc[df18_19['level_of_education'] == "High school graduate (Grade 12 with diploma or GED certificate)",
            'education'] = 'High school graduate'
df18_19.loc[df18_19['level_of_education'] == "Some college, no degree (includes some community college)",
            'education'] = 'Some college, no degree'
df18_19.loc[df18_19['level_of_education'] == "Two year associate degree from a college or university",
            'education'] = 'Associate degree'
df18_19.loc[df18_19['level_of_education'] == "Four year college or university degree/Bachelor's degree (e.g., BS, BA, AB)",
            'education'] = 'Bachelors degree'
df18_19.loc[df18_19['level_of_education'] == "Some postgraduate or professional schooling, no postgraduate degree (e.g. some graduate school)",
            'education'] = 'Some graduate school'
df18_19.loc[df18_19['level_of_education'] == "Postgraduate or professional degree, including master's, doctorate, medical or law degree",
            'education'] = 'Postgraduate degree'
df18_19.loc[df18_19['level_of_education'] == "(VOL) Don't know", 'education'] = 'Do not know'
df18_19.loc[df18_19['level_of_education'] == "(VOL) Refused", 'education'] = 'Refused'

In [23]:
df18_19.loc[df18_19['level_of_education'] == "Postgraduate or professional degree, including master's, doctorate, medical or law degree (e.g., MA, MS, PhD, MD, JD, gr",
            'education'] = 'Postgraduate degree'

In [24]:
df18_19['education'].value_counts(dropna=False)

Bachelors degree           875
High school graduate       798
Some college, no degree    535
Associate degree           368
Some graduate school       361
Postgraduate degree        238
High school incomplete     183
Less than high school      104
Refused                     31
Do not know                 11
Name: education, dtype: int64

In [25]:
# remove level of education column
df18_19 = df18_19.drop(columns = ['level_of_education'])

In [26]:
df18_19.columns

Index(['id', 'year', 'language', 'state', 'sex', 'age', 'marital',
       'employment', 'hispanic', 'race', 'income', 'party',
       'number_of_books_read', 'read_printed_books', 'read_audiobooks',
       'read_e-books', 'income_estimate', 'education'],
      dtype='object')

In [27]:
# create education group
df18_19.loc[(df18_19['education'] == 'Less than high school') | 
       (df18_19['education'] == 'High school incomplete'),'education_group'] = 'Less than high school'
df18_19.loc[df18_19['education'] == 'High school graduate','education_group'] = 'High school graduate'
df18_19.loc[(df18_19['education'] == 'Associate degree') | 
       (df18_19['education'] == 'Some college, no degree'),'education_group'] = 'College < 4yr degree'
df18_19.loc[df18_19['education'] == 'Bachelors degree','education_group'] = 'College 4yr degree'
df18_19.loc[(df18_19['education'] == 'Some graduate school') | 
       (df18_19['education'] == 'Postgraduate degree'),'education_group'] = 'College > 4yr degree'

In [28]:
df18_19.loc[(df18_19['education'] == 'Refused') | 
       (df18_19['education'] == 'Do not know'),'education_group'] = 'Unknown'

In [29]:
df18_19['education_group'].value_counts(dropna=False)

College < 4yr degree     903
College 4yr degree       875
High school graduate     798
College > 4yr degree     599
Less than high school    287
Unknown                   42
Name: education_group, dtype: int64

#### reader category

In [30]:
df18_19.loc[df18_19['number_of_books_read'] < 1, 'reader_category'] = 'Non-reader'
df18_19.loc[(df18_19['number_of_books_read'] >= 1) & (df18_19['number_of_books_read'] <= 20), 
            'reader_category'] = 'Average reader'
df18_19.loc[(df18_19['number_of_books_read'] > 20) & 
       (df18_19['number_of_books_read'] <= 50) , 'reader_category'] = 'Above average reader'
df18_19.loc[df18_19['number_of_books_read'] > 50, 'reader_category'] = 'Prolific reader'

In [31]:
df18_19['reader_category'].value_counts(dropna=False)

Average reader          2167
Non-reader               783
Above average reader     358
Prolific reader          196
Name: reader_category, dtype: int64

#### generation

In [32]:
# I subtracted 2 years from each compared to 2021 since each generation would be 2 years younger in 2019,
# it won't be exactly right for 2018 entries but that's okay
df18_19.loc[df18_19['age'] <= 23, 'generation'] = 'Gen Z'
df18_19.loc[(df18_19['age'] > 23) & (df18_19['age'] <= 39) , 'generation'] = 'Millenials'
df18_19.loc[(df18_19['age'] > 39) & (df18_19['age'] <= 55) , 'generation'] = 'Gen X'
df18_19.loc[(df18_19['age'] > 55) & (df18_19['age'] <= 74) , 'generation'] = 'Boomers'
df18_19.loc[df18_19['age'] >= 75, 'generation'] = 'Silent Gen'

In [33]:
df18_19['generation'].value_counts(dropna=False)

Boomers       1193
Gen X          890
Millenials     791
Silent Gen     323
Gen Z          307
Name: generation, dtype: int64

#### reading_type

In [34]:
df18_19.loc[(df18_19['read_printed_books'] == 'Yes') & (df18_19['read_audiobooks'] == 'No') &
       (df18_19['read_e-books'] == 'No'), 'reading_type'] = 'Printed only'
df18_19.loc[(df18_19['read_printed_books'] == 'No') & (df18_19['read_audiobooks'] == 'Yes') &
       (df18_19['read_e-books'] == 'No'), 'reading_type'] = 'Audio only'
df18_19.loc[(df18_19['read_printed_books'] == 'No') & (df18_19['read_audiobooks'] == 'No') &
       (df18_19['read_e-books'] == 'Yes'), 'reading_type'] = 'E-books only'
df18_19.loc[(df18_19['read_printed_books'] == 'Yes') & (df18_19['read_audiobooks'] == 'Yes') &
       (df18_19['read_e-books'] == 'Yes'), 'reading_type'] = 'All forms'
df18_19.loc[(df18_19['read_printed_books'] == 'No') & (df18_19['read_audiobooks'] == 'Yes') &
       (df18_19['read_e-books'] == 'Yes'), 'reading_type'] = 'Audio and e-books'
df18_19.loc[(df18_19['read_printed_books'] == 'Yes') & (df18_19['read_audiobooks'] == 'Yes') &
       (df18_19['read_e-books'] == 'No'), 'reading_type'] = 'Printed and audio'
df18_19.loc[(df18_19['read_printed_books'] == 'Yes') & (df18_19['read_audiobooks'] == 'No') &
       (df18_19['read_e-books'] == 'Yes'), 'reading_type'] = 'Printed and e-books'
df18_19.loc[(df18_19['read_printed_books'] == 'No') & (df18_19['read_audiobooks'] == 'No') &
       (df18_19['read_e-books'] == 'No') & (df18_19['number_of_books_read'] > 0), 'reading_type'] = 'Unknown'
df18_19.loc[(df18_19['number_of_books_read'] == 0), 'reading_type'] = 'Non-reader'

In [35]:
df18_19['reading_type'].value_counts(dropna=False)

Printed only           1349
Non-reader              783
Printed and e-books     487
All forms               294
Printed and audio       275
E-books only            115
Unknown                  71
Audio only               70
Audio and e-books        60
Name: reading_type, dtype: int64

#### employed

In [36]:
df18_19.loc[(df18_19['employment'] == '(VOL) Disabled') | (df18_19['employment'] == '(VOL) Student') |
       (df18_19['employment'] == 'Not employed for pay') | (df18_19['employment'] == 'Retired'),
       'employed'] = 'Not employed'
df18_19.loc[(df18_19['employment'] == '(VOL) Have own business/self-employed') | 
            (df18_19['employment'] == 'Employed full-time') | (df18_19['employment'] == 'Employed part-time'), 
            'employed'] = 'Employed'

In [37]:
df18_19.loc[(df18_19['employment'] == '(VOL) Refused') | 
            (df18_19['employment'] == '(VOL) Other') | (df18_19['employment'] == "(VOL) Don't know"), 
            'employed'] = 'Unknown'

In [38]:
df18_19['employed'].value_counts(dropna=False)

Employed        2021
Not employed    1419
Unknown           64
Name: employed, dtype: int64

In [39]:
df18_19['employment'].value_counts()

Employed full-time                       1539
Retired                                   887
Not employed for pay                      401
Employed part-time                        376
(VOL) Have own business/self-employed     106
(VOL) Disabled                            100
(VOL) Refused                              37
(VOL) Student                              31
(VOL) Other                                24
(VOL) Don't know                            3
Name: employment, dtype: int64

In [40]:
# unknown are equal to don't know, refused, and other

# 5. Concatenate

In [41]:
df18_19.shape

(3504, 23)

In [42]:
df21.shape

(1502, 23)

In [43]:
df18_19.columns

Index(['id', 'year', 'language', 'state', 'sex', 'age', 'marital',
       'employment', 'hispanic', 'race', 'income', 'party',
       'number_of_books_read', 'read_printed_books', 'read_audiobooks',
       'read_e-books', 'income_estimate', 'education', 'education_group',
       'reader_category', 'generation', 'reading_type', 'employed'],
      dtype='object')

In [44]:
df21.columns

Index(['id', 'year', 'language', 'state', 'sex', 'age', 'marital', 'education',
       'employment', 'hispanic', 'race', 'income', 'party',
       'number_of_books_read', 'read_printed_books', 'read_audiobooks',
       'read_e-books', 'income_estimate', 'reader_category', 'generation',
       'reading_type', 'education_group', 'employed'],
      dtype='object')

In [45]:
# reorder
df18_19 = df18_19[['id', 'year', 'language', 'state', 'sex', 'age', 'marital', 'education',
       'employment', 'hispanic', 'race', 'income', 'party',
       'number_of_books_read', 'read_printed_books', 'read_audiobooks',
       'read_e-books', 'income_estimate', 'reader_category', 'generation',
       'reading_type', 'education_group', 'employed']]

In [46]:
df = pd.concat([df18_19, df21])

In [47]:
df.head()

,id,year,language,state,sex,age,marital,education,employment,hispanic,race,income,party,number_of_books_read,read_printed_books,read_audiobooks,read_e-books,income_estimate,reader_category,generation,reading_type,education_group,employed
0,1,2018,English,PA,Female,33,Living with a partner,High school graduate,Employed full-time,No,White,"50 to under $75,000",Democrat,1,Yes,No,No,68456,Average reader,Millenials,Printed only,High school graduate,Employed
1,2,2018,English,SC,Female,76,Married,Do not know,Retired,No,White,"30 to under $40,000",Independent,5,Yes,No,No,32638,Average reader,Silent Gen,Printed only,Unknown,Not employed
2,3,2018,English,NJ,Female,24,Widowed,Associate degree,(VOL) Have own business/self-employed,No,White,"30 to under $40,000",Republican,0,No,No,No,30281,Non-reader,Millenials,Non-reader,College < 4yr degree,Employed
3,4,2018,English,MD,Female,60,Living with a partner,Associate degree,(VOL) Other,No,White,"10 to under $20,000",Democrat,2,Yes,No,No,15844,Average reader,Boomers,Printed only,College < 4yr degree,Unknown
4,5,2018,English,NH,Male,55,Married,"Some college, no degree",Employed full-time,No,White,"75 to under $100,000",Republican,6,Yes,No,Yes,86812,Average reader,Gen X,Printed and e-books,College < 4yr degree,Employed

In [48]:
df.dtypes

id                         int64
year                      object
language                category
state                   category
sex                     category
age                        int64
marital                 category
education                 object
employment                object
hispanic                category
race                    category
income                    object
party                     object
number_of_books_read       int64
read_printed_books      category
read_audiobooks         category
read_e-books            category
income_estimate            int64
reader_category           object
generation                object
reading_type              object
education_group           object
employed                  object
dtype: object

In [49]:
df.isnull().sum()

id                       0
year                     0
language                 0
state                    0
sex                      0
age                      0
marital                  0
education                0
employment               0
hispanic                 0
race                     0
income                   0
party                    0
number_of_books_read     0
read_printed_books       0
read_audiobooks          0
read_e-books             0
income_estimate          0
reader_category          0
generation               0
reading_type             0
education_group         23
employed                26
dtype: int64

In [50]:
# make subset of nulls
nulls = df[df['employed'].isnull()==True]

In [51]:
nulls[['employment','employed']]

         employment employed
28    (VOL) Refused      NaN
43    (VOL) Refused      NaN
52    (VOL) Refused      NaN
60    (VOL) Refused      NaN
81    (VOL) Refused      NaN
120   (VOL) Refused      NaN
243   (VOL) Refused      NaN
467   (VOL) Refused      NaN
478   (VOL) Refused      NaN
524   (VOL) Refused      NaN
546     (VOL) Other      NaN
569   (VOL) Refused      NaN
667   (VOL) Refused      NaN
719   (VOL) Refused      NaN
867     (VOL) Other      NaN
888   (VOL) Refused      NaN
961     (VOL) Other      NaN
969   (VOL) Refused      NaN
1185    (VOL) Other      NaN
1190  (VOL) Refused      NaN
1279  (VOL) Refused      NaN
1284  (VOL) Refused      NaN
1325    (VOL) Other      NaN
1366  (VOL) Refused      NaN
1417  (VOL) Refused      NaN
1436  (VOL) Refused      NaN

In [52]:
# fix the missed rows
df.loc[(df['employment'] == '(VOL) Refused') | (df['employment'] == '(VOL) Other'),
       'employed'] = 'Unknown'

In [53]:
nulls2 = df[df['education_group'].isnull()==True]

In [54]:
nulls2[['education','education_group']]

        education education_group
28        Refused             NaN
43        Refused             NaN
52        Refused             NaN
60        Refused             NaN
81        Refused             NaN
120       Refused             NaN
243       Refused             NaN
478       Refused             NaN
524       Refused             NaN
527       Refused             NaN
569       Refused             NaN
667       Refused             NaN
888       Refused             NaN
894   Do not know             NaN
1017  Do not know             NaN
1190      Refused             NaN
1279      Refused             NaN
1284      Refused             NaN
1329      Refused             NaN
1361  Do not know             NaN
1366      Refused             NaN
1417      Refused             NaN
1440      Refused             NaN

In [55]:
df.loc[(df['education'] == 'Refused') | (df['education'] == 'Do not know'),
       'education_group'] = 'Unknown'

In [56]:
df.isnull().sum()

id                      0
year                    0
language                0
state                   0
sex                     0
age                     0
marital                 0
education               0
employment              0
hispanic                0
race                    0
income                  0
party                   0
number_of_books_read    0
read_printed_books      0
read_audiobooks         0
read_e-books            0
income_estimate         0
reader_category         0
generation              0
reading_type            0
education_group         0
employed                0
dtype: int64

# 7. Export

In [57]:
df.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_all3years.pkl'))

In [58]:
df.to_csv(os.path.join(path, '02 Data','Prepared Data', 'df_all3years.csv'))